{% extends "base.html" %}
{% load staticfiles %}

{% block extra-head %}
    <link href="{% static 'css/detail.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock extra-head %}

{% block content %}
{% if post.header %}
    <div class="parallax-container valign-wrapper">
        
        <div class="parallax">
            <img src="{{ post.header.url }}">
        </div>

    </div>
{% endif %}

<div class="container">
    <div class="row">
        
        <div class="col s12">
            <div class="divider"></div>
            <div class="section center">
                <h5>{{ post.title }}</h5>

                <p>
                    {{ post.content|safe }}
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
