{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>The Cove</title>

      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="{% static 'pyratecove/css/base.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

      {% block extra-head %}
          
      {% endblock extra-head %}

    </head>

    <body>
        <nav class="" role="navigation">
            <div class="nav-wrapper container">
              <a id="logo-container" href="{% url 'home' %}" class="brand-logo">
                <img src="{% static 'pyratecove/images/logo.png' %}" class="responsive-img">
              </a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'blog:overview' %}">Blog</a></li>
                <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                <li><a href="{% url 'contact:resume' %}">Resume</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav">
                <li><a href="{% url 'blog:overview' %}">Blog</a></li>
                <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                <li><a href="{% url 'contact:resume' %}">Resume</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <main>
          {% block content %}
              
          {% endblock content %}
        </main>


      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{% static 'js/materialize.js' %}"></script>
      <script type="text/javascript" charset="utf-8" async defer>
        $(document).ready(function () {
          $('.parallax').parallax();
          $(".button-collapse").sideNav();
        })
      </script>

      </body>
</html>
