{% extends "base.html" %}
{% load staticfiles material_form %}

{% block extra-head %}
    <link href="{% static 'contact/css/contact.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock extra-head %}

{% block content %}
<div class="parallax-container valign-wrapper">
    
    <div class="parallax">
        <img src="{{ MEDIA_URL }}contact.jpg">
    </div>

</div>

<div class="container section-block">
    <div class="row">
        
        <div class="col s12 m6">
            
            <h5 class="primary-text">Still with me?</h5>
            <p class="secondary-text">
                Cool. Want to offer a position? Let me know about an open position? 
                Want to ask why I avoided as much javascript as possible on this site? 
                Just want to talk in general? Go ahead and fill out the form to the right 
                and be sure to leave a message!
            </p>

        </div>

        <div class="col s12 m6">
            <div class="section center">
                {% if message %}
                <p class="secondary-text">
                    Thanks for getting in touch! I'll get back to you as soon as I can!
                </p>
                {% else %}
                <form action="{% url 'contact:contact' %}" method="POST">
                {% csrf_token %}
                {% form form=contactform %}{% endform %}
                <button class="btn" type="submit">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock content %}
